In [153]:
import pandas as pd

In [154]:
df = pd.read_csv("desafio1.csv")

In [155]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [156]:
submit = pd.read_json("submission.json")

In [157]:
submit.head()

               SC  RS  PR
desvio_padrao   0   0   0
media           0   0   0
mediana         0   0   0
moda            0   0   0

In [158]:
df_mean = df.groupby(["estado_residencia"])["pontuacao_credito"].mean()
df_mean = df_mean.to_dict()
sorted(df_mean.keys(), reverse=True)

['SC', 'RS', 'PR']

In [159]:
df_median = df.groupby(["estado_residencia"])["pontuacao_credito"].median()
df_median = df_median.to_dict()
sorted(df_median.keys(), reverse=True)

['SC', 'RS', 'PR']

In [161]:
df_mode = df.groupby(["estado_residencia"])["pontuacao_credito"].apply(lambda x: x.mode())
df_mode = df_mode.reset_index(level=1, drop=True)
df_mode = df_mode.to_dict()
sorted(df_mode.keys(), reverse=True)

['SC', 'RS', 'PR']

In [162]:
df_std = df.groupby(["estado_residencia"])["pontuacao_credito"].std()
df_std = df_std.to_dict()
sorted(df_std.keys(), reverse=True)

['SC', 'RS', 'PR']

In [164]:
sub_final = pd.DataFrame(data=[df_std, df_mean, df_median, df_mode], index=["desvio_padrao", "media", "mediana", "moda"])

In [166]:
sub_final.to_json("submission.json")

In [167]:
json_new = pd.read_json("submission.json")

In [169]:
json_new.head()

                       PR          RS          SC
desvio_padrao   98.607186   95.136598   97.233493
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
moda           850.000000  850.000000  850.000000